.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 3.2rem;
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  flex-direction: column;
  font-size: clamp(2.4rem, 5vw + 1rem, 4.2rem);
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.1s ease-in-out;
  cursor: auto;
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}

.logoLink:hover {
  filter: brightness(80%);
}
